<h2>Helium</h2>
<ul>
  <li><%= link_to "Helium Basic Examples", "/helium/basics" %></li>
  <li><%= link_to "Helium Ajax Examples",  "/helium/ajax" %></li>
</ul>
<h2>Stimulus</h2>
<ul>
  <li><%= link_to "Stimulus Carousel", "/stimulus/carousel" %></li>
</ul>
