<div @data="{
    templates: {
      post: data => `
        <section class='post'>
          <h1>${data?.title}</h1>
          <p>${data?.body}</p>
        </section>`
    }
  }"
</div>

<div class="page">
  <h1>🎈 Helium Ajax Examples</h1>

  <div class="examples">

    <!-- Ajax Example -->
    <section class="card">
      <h2>HTML Response</h2>
      <p id="table">
        Replace this paragraph with an HTML table by clicking on the button below.
      </p>
      <button
        @get.once="https://html-mock.fly.dev/tag/table"
        @target="#table:replace"
        @loading="<img src='https://media1.tenor.com/m/tEBoZu1ISJ8AAAAC/spinning-loading.gif' width=120 alt='Loading...'>"
      >
        Get HTML table
      </button>
    </section>

    <!-- Requests Example -->
    <section class="card">
      <h2>Request Methods</h2>
      <p>
        Make a PUT and DELETE request using the buttons below. The delete request requires you to hold down the shift key while clicking.
      </p>
      <div class="button-group">
        <button
          @put="https://html-mock.fly.dev/tag/paragraph"
          @loading="account loading..."
          @params="{cash: 2}"
          @target="put_response"
        >
          Put Money In Your Account
        </button>

        <button
          @delete.shift="https://html-mock.fly.dev/tag/paragraph"
          @params="{account: 1}"
          @loading="account loading..."
          @target="delete_response"
        >
          Delete Your Account
        </button>
      </div>

      <div @html="put_response" class="response blue">Put response</div>
      <div @html="delete_response" class="response red">Delete response</div>
    </section>

    <!-- Posts Example -->
    <section @ref="posts" class="card lg:col-span-2">
        <h2>Posts (JSON response)</h2>
         <p>
           Add new posts to the list below. Create your own with the form below.
           Try clicking the GET POST button repeatedly — it’s debounced to avoid multiple adds.
         </p>

         <form @ref="form" class="form">
           <label>
             <span>Title:</span>
             <input type="hidden" name="userId" value="5">
             <input name="title">
           </label>

           <label>
             <span>Body:</span>
             <textarea name="body"></textarea>
           </label>

           <button
             @post.prevent="https://dummyjson.com/posts/add?delay=5000"
             @params="new FormData($form)"
             @target="$posts:append"
             @template="templates.post"
             @loading = "templates.post({title: $form.title.value, body: $form.body.value})"
           >
             Create New Post
           </button>
         </form>

         <div class="button-group">
           <button
             @get.debounce:700="https://dummyjson.com/posts/1?delay=5000"
             @target="$posts:append"
             @loading="<p>Post is <b>loading</b></p>"
             @template="templates.post"
             @loading = "loading post ..."
           >
             Get Post
           </button>
         </div>
       </section>


  </div>
</div>
