
<div class="page" @effect:*="console.log('something changed ...')">
  <h1>🎈 Helium Examples</h1>

  <div class="examples">

    <!-- Counter -->
    <div class="card">
      <h2>Counter</h2>
      <button @click="count++">Clicked <b @text="count">0</b> times</button>
    </div>

    <!-- Dynamic Classes -->
    <div
      @data="{ active: false }"
      :class="{'bg-red-400': active}"
      class="card"
    >
      <h2>Dynamic Classes</h2>
      <button @click="active = !active">Toggle</button>
    </div>

    <!-- Two-way Binding with Calculate -->
    <div class="card">
      <h2>2-Way Bindings</h2>
      <input
        @bind="firstname"
        placeholder="First name"
      >
      <input
        @bind="lastname"
        placeholder="Last name"
      >
      <span
        @calculate:fullName="firstname && lastname ? firstname + ' ' + lastname : firstname || lastname || ''"
      ></span>
      <p>Hello <b @text="fullname"></b></p>
      <button @click="firstname = '', lastname = ''">Clear</button>
    </div>

    <!-- Visibility Toggle -->
    <div @data="{ show: false }" class="card">
      <h2>Visibility Toggle</h2>
      <button @click="show = !show">Toggle</button>
      <p @visible="show">Now you see me!</p>
    </div>

  </div>
</div>
